<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/productdetailsheader' %>

<div id="armsdesign">

	<div class="">
		<h1>An Intuitive Band</h1>
		<h2>It's better to make an armband for people rather than for a phone.</h2>
		<!-- insert image here -->
	</div>

	<div class="">
		<h1>Inspired by Island Life</h1>
		<h2>We traveled to Hawaii's IRONMAN® triathlon trail to design. It rubbed off on us.</h2>
		<!-- insert image here -->
	</div>

	<div class="">
		<h1>Simple is Smarter and Better</h1>
		<h2>Feeling is believing. Uncomprimising quality fabrics hand-sewn for comfort, perfection, and amazing strength.</h2>
		<!-- insert image here -->
	</div>

	<div class="closingdiv">
		<h1>The Best Materials and Manufacturing</h1>
		<h2>Making the perfect product means making it perfectly.</h2>
		<!-- insert image here -->
	</div>

</div>