<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/productdetailsheader' %>

<%= javascript_include_tag "https://js.stripe.com/v1/" %>


<style type="text/css">
    
    input {
        border: 1px solid; 

    }

    span.payment-errors { color: #A80F21; }

</style>

<div class="center relative" style="min-height: 550px; height: 550px; margin-bottom: 30px;">

    <h1>Charge $10 with Stripe Exercise</h1>

    <span class="payment-errors">
        <noscript>JavaScript is not enabled on your browser. First enable JavaScript in your browser settings menu.</noscript>
    </span>

    <form action="pmttest/:charge" method="POST" id="payment-form" >
      <div class="form-row">
        <label>
          <span>Card Number</span>
          <input type="text" size="20" autocomplete="off" class="card-number"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <input type="text" size="4" autocomplete="off" class="card-cvc"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration (MM/YYYY)</span>
          <input type="text" size="2" class="card-expiry-month"/>
        </label>
        <span> / </span>
        <input type="text" size="4" class="card-expiry-year"/>
      </div>

      <button type="submit" class="submit-button">Submit Payment</button>
    </form>

</div>