<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/productdetailsheader' %>

<div id="armsspecs">

	<div class="closingdiv">
		<h1>Comfe Arms specs</h1>
		<h2>Details. Details. Details.</h2>
		<!-- insert image here -->

		<div class="icons">
			<span class="icon"></span>
			<h3>Colors</h3>
			<p>The VisaEndurance速 line of silver ion fabrics uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons">
			<span class="icon"></span>
			<h3>Colors</h3>
			<p>The VisaEndurance速 line of silver ion fabrics uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons">
			<span class="icon"></span>
			<h3>Colors</h3>
			<p>The VisaEndurance速 line of silver ion fabrics uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons">
			<span class="icon"></span>
			<h3>Colors</h3>
			<p>The VisaEndurance速 line of silver ion fabrics uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons closingicon">
			<span class="icon"></span>
			<h3>Models</h3>
			<p>A uniquely layered top sheds water and keeps you equipment dry in case you're caught in the rain. It also means your band dries 25% faster!</p>
		</div>

	</div>

</div>