<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/productdetailsheader' %>

<div id="armsdesign" class="relative">

	<div class="relative">
		
		<h1>An intuitive experience</h1>
		<h2>An armband made for people rather than for a phone.</h2>
		<!-- <img src="http://2.bp.blogspot.com/-RY9nD7ckJ3s/TV6slYB5API/AAAAAAAAAKU/82Waf1VW_IY/s1600/SuperCars+%255B9hd.blogspot.com%255D+%252813%2529.jpg" width="800" height"595"> -->
		<span class="aside" style="top: 350px; right: 100px; width: 350px;">
			<h3>Natural motion and placement</h3>
			<p>On the forearm so you can lift your arm like a watch instead of bending your neck. Interact with your device without having to stop.</p> 
		</span>
		
	</div>

	<div class="relative">
		<h1>Inspired by island life</h1>
		<h2>We traveled to Hawaii's IRONMAN® triathlon trail to design. It rubbed off on us.</h2>
		<!-- <img src="http://kenleephoto.com/wp-content/uploads/MG_6974__950px.jpg" width="900px" height="633px"/> -->
		<span class="aside" style="bottom: 100px; right: 0px; width: 300px;">
			<h3>Nothing should get in the way of fun.</h3>
			<p>A place where you wear what you need and love a free life.</p> 
		</span>
		<span class="aside" style="top: 200px; left: 0px; width: 300px;">
			<h3>Minimalist design for maximum efficency</h3>
			<p>On the forearm so you can lift your arm like a watch instead of bending your neck. Interact with your device without having to stop.</p> 
		</span>
	</div>

	<div class="relative">
		<h1>Simple is smart</h1>
		<h2>Feeling is believing. Uncomprimising quality fabrics hand-sewn for comfort, perfection, and amazing strength.</h2>
		<!-- <img src="http://kenleephoto.com/wp-content/uploads/Squash-Pumpkins-Master__950px.jpg" width="950px" height="614px"/> -->
		<span class="aside" style="bottom: 100px; left: 250px; width: 410px;">
			<h3>Uncluttered...</h3>
			<p>On the forearm so you can lift your arm like a watch instead of bending your neck. Interact with your device without having to stop.</p> 
			<h3 style="text-align: right;">and essential</h3>
		</span>
	</div>

	<div class="closingdiv relative">
		<!-- insert image here -->
		<h1>The Best Materials and Manufacturing</h1>
		<h2>Making the perfect product means making it perfectly.</h2>
		<span class="aside" style="top: 400px; right: 0px; width: 500px;">
			<h3>We think of quality as part of the product.</h3>
			<p>Our manufacturers have a 100+ year record of quality and innovation.</p>
		</span>
	</div>
	<div class="closinglinks">
		<%= link_to	"buy", armsbuy_path %>
	</div>

</div>