<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/productdetailsheader' %>

<div id="armsspecs">

	<!-- These should be magazine layout. Will make photo-style large images with the details instead of html layout. -->
	<div class="closingdiv nobkg">
		<h1>Comfe Arms specs</h1>
		<h2>Details. Details. Details.</h2>
		<!-- insert image here -->

		<div class="icons">
			<span class="icon"></span>
			<h3>Colors</h3>
			<p>Comfe Arms comes in one color: dark navy.</p>
		</div>
		<div class="icons">
			<span class="icon"></span>
			<h3>Models</h3>
			<p>Comfe Arms is made for these devices.</p> 
			<p>iPhone (4+5), iPod touch, Samsung, and XXXX.</p>
			<p>If you'd like an additional model, please <%= link_to "let us know", "" %> and we'll see if we can accomodate your request.</p>
		</div>
		<div class="icons">
			<span class="icon"></span>
			<h3>Size & Weight</h3>
			<p>Comfe Arms is sized for male / female according to xx standardized sizing. Check the sizing guide below to get fitted:</p>
			<!-- put in a sizing guide table here -->
		</div>
		<div class="icons">
			<span class="icon"></span>
			<h3>Fabric Care</h3>
			<p>The VisaEndurance® line of silver ion fabrics uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons closingicon">
			<span class="icon"></span>
			<p><sup>*</sup>Any fine print will go here.</p>
		</div>

	</div>

</div>