<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/productdetailsheader' %>

<div id="armsfeatures" class="relative">

	<div class="relative">
		<h1>Comfortable is smart.</h1>
		<h2>Hi-tec fabric and design make it easy to enjoy yourself.</h2>
		
		<!-- insert image here -->
		
		<div class="icons">
			<span class="icon" id="silver"></span>
			<h3>Silver fabric kills stink and bacteria.</h3>
			<p>The only band with built-in bling. Silver ion fabric uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons">
			<span class="icon" id="layered"></span>
			<h3>Stretch transparency.</h3>
			<p>Do away with unsightly plastic that holds in moisture. The fabric window stretches to transparency and allows screen touch. Thin. Washable. Highly-durable.</p>
		</div>
		<div class="icons">
			<span class="icon" id="moisture"></span>
			<h3>Moisture-wicking quick dry fabrics.</h3>
			<p>Dual-layer base wicks and dries with a puff of air. A uniquely layered top sheds water and keeps your equipment dry in case you're caught in the rain.</p>
		</div>
		<div class="icons closingicon">
			<span class="icon" id="durable"></span>
			<h3>Perfect fit without the buckle.</h3>
			<p>Comfe Arms is a compression fit. It is shape-forming without using kludgy plastic buckles or velcro thingamajiggers that cinch down like a tourniquette on your bicep.</p>
		</div>
	</div>

	<div class="relative">
		<h1>Be comfortable longer.</h1>
		<h2>You can't afford to be uncomfortable.</h2>
		
		<!-- insert main background image -->
		
		<div class="icons">
			<span class="icon" id="comfort"></span>
			<h3>Comfortable placement for optimal performance.</h3>	
			<p>Ergonomically placed on your forearm so you can quickly look and interact with your device without stopping or bending your neck.</p>
		</div>
		<div class="icons closingicon">
			<span class="icon" id="touchthrough"></span>
			<h3>No more damn dangle!</h3>
			<p>See and operate your phone right throgh the fabrics. Keep your iPhone clean and protected while it goes through hell with you.</p>
		</div>
	</div>

	<div class="closingdiv relative">
		<h1>Safety First</h1>
		<h2>Say hello to oncoming traffic.</h2>
		
		<!-- insert image here -->
		
		<div class="icons closingicon">
			<span class="icon" id="safety"></span>
			<h3>Reflectivity Strips</h3>
			<p>Comfe Arms features 3M® retroreflective material to improve safety while on the roads.</p>
		</div>
	</div>

	<div class="closinglinks">
		<%= link_to	"buy", armsbuy_path %>
	</div>

</div>