<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/armsheader' %>

<h1 id="punchline">For <em>people</em> with gadgets who get out.</h1>
<iframe name="catcher" height="0"></iframe >
<form action="https://docs.google.com/a/improvz.com/spreadsheet/formResponse?pli=1&amp;hl=en_US&amp;formkey=dC14SllXS1NjQWtMbGdGU2VzM2dSSlE6MQ&amp;ifq" method="POST" target="catcher" >
    <input name="entry.0.single" value="sign up for updates" type="text" class="email" />
    <input name="submit" type="submit" value="" id="submit" />
</form>