<% content_for :title, "Contact Comfe Designs" %>
<% stylesheets 'informatic', :media => "all" %>
<%= render :partial => 'layouts/partials/stdheader' %>



<div class="informatic" class="contact">
    <h1>Comfe Contact</h1>
    <div id="map" class="lefted">
        <h2 class="contact">In: <span style="color: #1e81de;">Boston</span>, <span style="color: #ff9000;">Massachusetts</span></h2>
        <iframe width="600" height="325" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=boston,+ma&amp;aq=&amp;sll=33.624497,-80.926614&amp;sspn=6.420176,11.634521&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Boston,+Suffolk,+Massachusetts&amp;z=11&amp;iwloc=A&amp;ll=42.358431,-71.059773&amp;output=embed"></iframe>
    </div>
    <div id="locale" class="righted">
        <h3 class="contact">info'at'comfedesigns'dot'com</h3>
        <h2 class="contact">864-513-1444</h2>
        <h3 class="contact" style="margin-top:40px;">mail:</h3>
        <h2 class="contact">112 Raintree Drive<br /> Taylors, SC 29687</h2>
    </div>
    
    <p id="explaination">We're here for the <em>amazing</em> Boston Marathon! Over 500k people packed into this city for the largest spectator sporting event in America. Boston has been transformed by spring into a runner's paradise.</p>
</div>