<% content_for :title, "Comfe Designs FAQ" %>
<% stylesheets 'informatic', :media => "all" %>
<%= render :partial => 'layouts/partials/stdheader' %>


<div class="informatic">
    <h1>Frequently Asked Questions</h1>
    
    <div class="secondarytitle">
      <h2>Shipping & Returns</h2>
        <span class="faq stacked">
            <a href="#">Where is my shipment?</a>
            <p>Duis aute irure dolor velit esse cillum dolore ullamco laboris nisi. In reprehenderit in voluptate consectetur adipisicing elit, qui officia deserunt. Sunt in culpa eu fugiat nulla pariatur.</p>
        </span>
        <span class="faq stacked">
            <a href="#">How much time before my pacakge arrives?</a>
            <p>Duis aute irure dolor velit esse cillum dolore ullamco laboris nisi. In reprehenderit in voluptate consectetur adipisicing elit, qui officia deserunt. Sunt in culpa eu fugiat nulla pariatur.</p>
        </span>
        <span class="faq stacked">
            <a href="#">What are my shipping options?</a>
            <p>Duis aute irure dolor velit esse cillum dolore ullamco laboris nisi. In reprehenderit in voluptate consectetur adipisicing elit, qui officia deserunt. Sunt in culpa eu fugiat nulla pariatur.</p>
        </span>
        <span class="faq stacked">
            <a href="#">What are your general return policies?</a>
            <p>Duis aute irure dolor velit esse cillum dolore ullamco laboris nisi. In reprehenderit in voluptate consectetur adipisicing elit, qui officia deserunt. Sunt in culpa eu fugiat nulla pariatur.</p>
        </span>
        <span class="faq stacked">
            <a href="#">How do I return a product?</a>
            <p>Duis aute irure dolor velit esse cillum dolore ullamco laboris nisi. In reprehenderit in voluptate consectetur adipisicing elit, qui officia deserunt. Sunt in culpa eu fugiat nulla pariatur.</p>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Where to Buy</h2>
        <span class="faq stacked">
            <a href="#">Where can I find Comfe products?</a>
            <p>Velit esse cillum dolore excepteur sint occaecat eu fugiat nulla pariatur. Quis nostrud exercitation lorem ipsum dolor sit amet, ut enim ad minim veniam. Qui officia deserunt velit esse cillum dolore sunt in culpa.</p>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Work with Comfe</h2>
        <span class="faq stacked">
            <a href="#">How can I work with Comfe Designs?</a>
            <p>Velit esse cillum dolore excepteur sint occaecat eu fugiat nulla pariatur. Quis nostrud exercitation lorem ipsum dolor sit amet, ut enim ad minim veniam. Qui officia deserunt velit esse cillum dolore sunt in culpa.</p>
        </span>
        <span class="faq stacked">
            <a href="#">How do I submit an idea to Comfe Designs?</a>
            <p>Velit esse cillum dolore excepteur sint occaecat eu fugiat nulla pariatur. Quis nostrud exercitation lorem ipsum dolor sit amet, ut enim ad minim veniam. Qui officia deserunt velit esse cillum dolore sunt in culpa.</p>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Affiliate Marketing</h2>
        <span class="faq stacked">
            <a href="#">Does Comfe Designs have an affiliate program?</a>
            <p>Velit esse cillum dolore excepteur sint occaecat eu fugiat nulla pariatur. Quis nostrud exercitation lorem ipsum dolor sit amet, ut enim ad minim veniam. Qui officia deserunt velit esse cillum dolore sunt in culpa.</p>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Selling Comfe Products</h2>
        <span class="faq stacked">
            <a href="#">How can I sell Comfe products in our stores?</a>
            <p>Velit esse cillum dolore excepteur sint occaecat eu fugiat nulla pariatur. Quis nostrud exercitation lorem ipsum dolor sit amet, ut enim ad minim veniam. Qui officia deserunt velit esse cillum dolore sunt in culpa.</p>
        </span>
    </div>
       
</div>