<% content_for :title, "Comfe Designs News" %>
<% stylesheets 'informatic', :media => "all" %>
<%= render :partial => 'layouts/partials/stdheader' %>



<div class="informatic">
    
    <h1>Comfe Designs News</h1>
    
    <div class="secondarytitle">
        <h2>In the News</h2>
        <span class="stacked news">
            <%= link_to '"Comfe Hands Help Ipad Users Get a Grip – Ipad Gear Review", Pad Gadget', "http://www.padgadget.com/2012/04/27/comfe-hands-help-ipad-users-get-a-grip-ipad-gear-review/" %>
        </span>
        <span class="stacked news">
            <%= link_to '"Comfe Hands for iPad Review", Gadgeteer', "http://the-gadgeteer.com/2012/06/19/comfe-hands-for-ipad-review/" %>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Releases</h2>
        <span class="stacked news">
            <p>Comfe Arms mobile armband revealed.<span class="date">4/1/2013</span></p>
            <p>If you haven't seen it yet, check out the latest hi-tech accessory for everyday athletes—Comfe Arms. It's the first ever totally fabric armband with built-in bling. Comfe Arms uses a unique silver-impregnated fabric to kill bacteria that causes stink. Using the best moisture-wicking technology, the fabric stretches to a slim fit over your forearm and helps expel moisture instead of trapping it in thick fabrics or plastics. Comfe Arms provides the most comfortable running experience with a mobile device. And it's 100% made in the USA. Available for order on <a href="" target="_blank">Amazon.com.</a></p>
        </span>
        <span class="stacked news">
            <p>Comfe Designs releases hand grip for iPads.<span class="date">1/15/2012</span></p>
            <p>Today Comfe Designs launchd Comfe Hands, a first-of-its-kind product for tablets. Comfe Hands is an ergonomic accessory for iPad2 + iPad3 that makes reading / gaming / working with the tablets super comfy. Eliminate the painful "pinch grip" and feel in control of your game. Comfe Hands is 100% made in the USA from recyclable plastics. Available for order on <a href="http://www.amazon.com/Comfe-Designs-CH-004-Hands/dp/B0060MRBAY" target="_blank">Amazon.com.</a></p>
        </span>
        <span class="stacked news">
            <p>Comfe Designs launches new website with preview of its <a href="comfearms.html">latest product</a>.<span class="date">12/10/2012</span></p>
        </span>
        
    </div>
</div>