<% content_for :title, "Comfe Designs News" %>
<% stylesheets 'informatic', 'news', :media => "all" %>
<%= render :partial => 'layouts/partials/stdheader' %>



<div class="informatic">
    
    <h1>Comfe Designs News</h1>
    
    <div class="secondarytitle">
        <h2>In the News</h2>
        <span class="stacked">
            <%= link_to '"Comfe Hands Help Ipad Users Get a Grip – Ipad Gear Review", Pad Gadget', "http://www.padgadget.com/2012/04/27/comfe-hands-help-ipad-users-get-a-grip-ipad-gear-review/" %>
        </span>
        <span class="stacked">
            <%= link_to '"Comfe Hands for iPad Review", Gadgeteer', "http://the-gadgeteer.com/2012/06/19/comfe-hands-for-ipad-review/" %>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Releases</h2>
        <span class="stacked">
            <p>Comfe Designs launches new website with preview of its <a href="comfearms.html">latest product</a>.<span class="date">12/10/2012</span></p>
        </span>
        <span class="stacked">
            <p>Comfe Designs releases hand grip for iPads.<span class="date">1/15/2012</span></p>
            <p>On the 20th Comfe Designs will launch its first one-of-a-kind product for iPads called Comfe Hands. It's an ergonomic handle for iPad2 + iPad3 that makes reading / gaming / working with an iPad super easy. Eliminate the painful "pinch grip" and feel in control of your game. Comfe Hands is 100% made in the USA from recyclable plastics and will be available for order on <a href="http://www.amazon.com/Comfe-Designs-CH-004-Hands/dp/B0060MRBAY" target="_blank">Amazon.com.</a></p>
        </span>
    </div>
</div>