<% content_for :title, "Comfe Designs Sitemap" %>
<%= render :partial => 'layouts/partials/stdheader' %>
<% stylesheets 'informatic', 'sitemap', :media => "all" %>

      
<div class="informatic">
    <h1>Comfe Site Map</h1>
    
    <div class="secondarytitle">
        <h2>Store</h2>
        <span>
            <a href="http://www.comfehands.com">Comfe Hands</a>
            <a href="comfearms.html">Comfe Arms</a>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2><a href="about.html">About</a></h2>
        <span>
            <a href="news.html">News</a>
            <a href="contact.html">Contact</a>
        </span>
        <span>
            <a href="blog.html">Blog</a>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2>Social</h2>
        <span>
            <a href="https://www.facebook.com/pages/Comfe-Designs/255219977847489">on Facebook</a>
            <a href="https://twitter.com/comfe_designs">on Twitter</a>
        </span>
    </div>
    
    <div class="secondarytitle">
        <h2><a href="legal.html">Legal</a></h2>
        <span>
            <a href="legal.html">Privacy Policy</a>
        </span>
    </div>
    
</div>