<div id="product_details_links" >
        <%= link_to "features", armsfeats_path %>
        <%= link_to "design", armsdesign_path %>
        <%= link_to "specs", armsspecs_path %>
        <%= link_to "buy", armsbuy_path, :style => "margin-right: 0;" %> 
</div>
