<div id="product_details_links" >
        <%= link_to "design", "" %>
        <%= link_to "features", "" %>
        <%= link_to "specs", "" %>
        <%= link_to "buy", "", :style => "margin-right: 0;" %> 
</div>
