<div id="front_page_design">
	<h1></h1>
	<h2></h2>
	<!-- insert image here -->
	<div></div>
	<div></div>
	<div></div>
	<div id="allfeats">
		<%= link_to "", armsfeats_path %>
		<!-- insert static image of five or six other feature icons here  -->
	</div>
	<%= link_to "order", order_path %>
</div>