<% content_for :title, "Comfe Hands" %>
<% content_for :head, (render :partial => 'layouts/partials/handslayoutsheets') %>


<div id="header" class="relative">
    <%= render :partial => 'layouts/partials/topbar' %>
</div>