<% content_for :head, (render :partial => 'layouts/partials/basiclayoutsheets') %>
<%= render :partial => 'layouts/partials/productlayoutsheets' %>

<div id="header" class="relative">
    
    <%= render :partial => 'layouts/partials/topbar' %>

    <div class="center relative" id="prod_identity">
        <img id="prod_logo" src="<%= asset_path('carms_logo.png') %>" width="360" height="58" class="absolute"/>
    </div>

    <%= render :partial => 'layouts/partials/armstoplinks' %>

</div> 