<div id="header" class="relative">
    <div id="topBar">
        <span>
            <%= link_to "", root_path, :id => 'home' %>
            <%= link_to "", hands_path, :id => 'hands', :target => '_blank' %>
            <%= link_to "", arms_path, :id => 'arms' %>
        </span>
    </div>
</div>