<div id="topBar">
    <span>
        <%= link_to "", root_path, :id => 'home' %>
        <%= link_to "", arms_path, :id => 'arms' %>
        <%= link_to "", hands_path, :id => 'hands' %>
    </span>
</div>